.botao_whatsapp {
    display: flex;
    position: fixed;
    fill: #25D366;
    background-color: @branco;
    box-shadow: 4px 4px 21px -4px rgba(0,0,0,0.45);    
    bottom: 25px;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    transition: 1s all;
    align-items: center;
    justify-content: center;
    right: 25px;
    z-index: 2;
        svg {
            display: block;
            width: 54px;
            height: 54px;
        }
        &:hover {
            width: 64px;
            height: 64px;
        }
        @media print {
            display: none !important;
            }
}