.header{
    font-family: @mont-bold; 
    background: @amarelo;
    height: 120px;
}

.panel{
    background: @azul;
}

.panel.wrapper{
    background-color: @azul !important;
}
.catalog.topnav {
    background:@preto;
}


.busca-carrinho-entrar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 3px;

    .authorization-link {
        list-style-type: none;
        margin-left: 1em;

        a {
            color: @preto;
        }

    }

}