<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" colors="true">
  <testsuites>
    <testsuite name="unit">
      <directory>./app/code/Webjump/Backend/Test</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">./app/code/Webjump/Backend/</directory>
      <exclude>
        <file>./app/code/Webjump/Backend/registration.php</file>
        <directory suffix=".php">./app/code/Webjump/Backend/Setup/</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>