
.banner-style {
    box-sizing: border-box;
    width: 100%;
    max-width: 1920px;
    min-height: 350px;
    margin-top: -15px !important;
}

.page-title-wrapper{ 
    display: none; 
} 
    
.page-title-wrapper.product{ 
    display: block; 
}



@media screen and (min-width: 1200px) {
    #html-body [data-pb-style=AAX6D56]{
        background-position: top center !important; 
    }
}

@media screen and (max-width: 767px) {
    .page-header{
        margin: 0;
    }
}


