.header{
    font-family: @mont-bold; 
}

.panel{
    background-color: @dourado;
}

.panel.wrapper{
    background-color: @dourado !important;
}


.busca-carrinho-entrar {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .authorization-link {
        list-style-type: none;
        margin-left: 1em;

        a {
            color: @preto;
        }

    }

}
 