.payment-info-block {
    border: 1px solid @dourado;
    color: @dourado;
    padding: 10px;
    border-radius: 6px;
    font-family: @mont-regular;
    margin-bottom: 15px;
    max-width: 200px;
}

.action.primary {
    background-color: @dourado;
    border-radius: 4px;
    transition: 400ms;
    border: darken(@dourado, 5%);

    &:hover{
        background-color: lighten(@dourado, 10%);
    }
}

.breadcrumbs{
    display: none;
}